*{
    
    box-sizing: border-box;
}
.st-container {
    padding: 50px 0;
    width: 100%;
}
form {
  background-color: #ffffff;
  color: #74757c;
  font-size: 16px;
  line-height: 1.5;
  margin: 25px 0 25px 0;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  padding-top: 2rem;
}
label.inline {
    margin: 0;
    margin: 0 0 1rem 0;
    padding: .5625rem 0;
}
.left {
    float: left !important;
}

.form-control {
  margin: 0.5rem 0;
  display: block;
}
.form-group {
  display: table;
  width: 100%;
}
.st_form{
  max-width: 1083px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}


label {
    color: #74757c;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    line-height: 1.5;
}

h2 {
    color: #03234b;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 15px 0;
}
h1 {
  background-color: #ffffff;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;  
  float:left;
  padding:15;
}

select {
  width: auto;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}

.title{
  color: #03234b;
    font-weight: 700;
    margin-right: 0;
    text-align: left;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 24px;
    margin: 0 0 25px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    margin: 0 0 25px 0;
    display: flex;

}

.st__title {
   border-bottom: 1px solid #ccc; 
    min-height: 0;
    padding-top: 25px;
}
.lable{
      width: 16.66667%;
      float:left;
      padding:15;
      color: #74757c;
      font-size: 13px;
      font-weight: 700;
}

.row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}
select {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: #74757c;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    height: 38px;
}
input[type='text'], input[type='password'], input[type='number'], input[type='email'], textarea,  input {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #74757c;
    font-weight: 400;
    height: 38px;
    margin: 0;
}
.text-red {
    color: #e6007e;
}
@media only screen{.small-push-0{position:relative;left:0;right:auto}
.small-pull-0{position:relative;right:0;left:auto}
.small-push-1{position:relative;left:8.33333%;right:auto}
.small-pull-1{position:relative;right:8.33333%;left:auto}
.small-push-2{position:relative;left:16.66667%;right:auto}
.small-pull-2{position:relative;right:16.66667%;left:auto}
.small-push-3{position:relative;left:25%;right:auto}
.small-pull-3{position:relative;right:25%;left:auto}
.small-push-4{position:relative;left:33.33333%;right:auto}
.small-pull-4{position:relative;right:33.33333%;left:auto}
.small-push-5{position:relative;left:41.66667%;right:auto}
.small-pull-5{position:relative;right:41.66667%;left:auto}
.small-push-6{position:relative;left:50%;right:auto}
.small-pull-6{position:relative;right:50%;left:auto}
.small-push-7{position:relative;left:58.33333%;right:auto}
.small-pull-7{position:relative;right:58.33333%;left:auto}
.small-push-8{position:relative;left:66.66667%;right:auto}
.small-pull-8{position:relative;right:66.66667%;left:auto}
.small-push-9{position:relative;left:75%;right:auto}
.small-pull-9{position:relative;right:75%;left:auto}
.small-push-10{position:relative;left:83.33333%;right:auto}
.small-pull-10{position:relative;right:83.33333%;left:auto}
.small-push-11{position:relative;left:91.66667%;right:auto}
.small-pull-11{position:relative;right:91.66667%;left:auto}
.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}
.small-1{width:8.33333%}
.small-2{width:16.66667%}
.small-3{width:25%}
.small-4{width:33.33333%}
.small-5{width:41.66667%}
.small-6{width:50%}
.small-7{width:58.33333%}
.small-8{width:66.66667%}
.small-9{width:75%}
.small-10{width:83.33333%}
.small-11{width:91.66667%}
.small-12{width:100%}
.small-offset-0{margin-left:0 !important}
.small-offset-1{margin-left:8.33333% !important}
.small-offset-2{margin-left:16.66667% !important}
.small-offset-3{margin-left:25% !important}
.small-offset-4{margin-left:33.33333% !important}
.small-offset-5{margin-left:41.66667% !important}
.small-offset-6{margin-left:50% !important}
.small-offset-7{margin-left:58.33333% !important}
.small-offset-8{margin-left:66.66667% !important}
.small-offset-9{margin-left:75% !important}
.small-offset-10{margin-left:83.33333% !important}
.small-offset-11{margin-left:91.66667% !important}
.small-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}
.column.small-centered,.columns.small-centered{margin-left:auto;margin-right:auto;float:none}
.column.small-uncentered,.columns.small-uncentered{margin-left:0;margin-right:0;float:left}
.column.small-centered:last-child,.columns.small-centered:last-child{float:none}
.column.small-uncentered:last-child,.columns.small-uncentered:last-child{float:left}
.column.small-uncentered.opposite,.columns.small-uncentered.opposite{float:right}
}
@media only screen and (min-width:40.063em){.medium-push-0{position:relative;left:0;right:auto}
.medium-pull-0{position:relative;right:0;left:auto}
.medium-push-1{position:relative;left:8.33333%;right:auto}
.medium-pull-1{position:relative;right:8.33333%;left:auto}
.medium-push-2{position:relative;left:16.66667%;right:auto}
.medium-pull-2{position:relative;right:16.66667%;left:auto}
.medium-push-3{position:relative;left:25%;right:auto}
.medium-pull-3{position:relative;right:25%;left:auto}
.medium-push-4{position:relative;left:33.33333%;right:auto}
.medium-pull-4{position:relative;right:33.33333%;left:auto}
.medium-push-5{position:relative;left:41.66667%;right:auto}
.medium-pull-5{position:relative;right:41.66667%;left:auto}
.medium-push-6{position:relative;left:50%;right:auto}
.medium-pull-6{position:relative;right:50%;left:auto}
.medium-push-7{position:relative;left:58.33333%;right:auto}
.medium-pull-7{position:relative;right:58.33333%;left:auto}
.medium-push-8{position:relative;left:66.66667%;right:auto}
.medium-pull-8{position:relative;right:66.66667%;left:auto}
.medium-push-9{position:relative;left:75%;right:auto}
.medium-pull-9{position:relative;right:75%;left:auto}
.medium-push-10{position:relative;left:83.33333%;right:auto}
.medium-pull-10{position:relative;right:83.33333%;left:auto}
.medium-push-11{position:relative;left:91.66667%;right:auto}
.medium-pull-11{position:relative;right:91.66667%;left:auto}
.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}
.medium-1{width:8.33333%}
.medium-2{width:16.66667%;}
.medium-3{width:25%}
.medium-4{width:33.33333%}
.medium-5{width:41.66667%}
.medium-6{width:50%}
.medium-7{width:58.33333%}
.medium-8{width:66.66667%}
.medium-9{width:75%}
.medium-10{width:83.33333%}
.medium-11{width:91.66667%}
.medium-12{width:100%}
.medium-offset-0{margin-left:0 !important}
.medium-offset-1{margin-left:8.33333% !important}
.medium-offset-2{margin-left:16.66667% !important}
.medium-offset-3{margin-left:25% !important}
.medium-offset-4{margin-left:33.33333% !important}
.medium-offset-5{margin-left:41.66667% !important}
.medium-offset-6{margin-left:50% !important}
.medium-offset-7{margin-left:58.33333% !important}
.medium-offset-8{margin-left:66.66667% !important}
.medium-offset-9{margin-left:75% !important}
.medium-offset-10{margin-left:83.33333% !important}
.medium-offset-11{margin-left:91.66667% !important}
.medium-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}
.column.medium-centered,.columns.medium-centered{margin-left:auto;margin-right:auto;float:none}
.column.medium-uncentered,.columns.medium-uncentered{margin-left:0;margin-right:0;float:left}
.column.medium-centered:last-child,.columns.medium-centered:last-child{float:none}
.column.medium-uncentered:last-child,.columns.medium-uncentered:last-child{float:left}
.column.medium-uncentered.opposite,.columns.medium-uncentered.opposite{float:right}
.push-0{position:relative;left:0;right:auto}
.pull-0{position:relative;right:0;left:auto}
.push-1{position:relative;left:8.33333%;right:auto}
.pull-1{position:relative;right:8.33333%;left:auto}
.push-2{position:relative;left:16.66667%;right:auto}
.pull-2{position:relative;right:16.66667%;left:auto}
.push-3{position:relative;left:25%;right:auto}
.pull-3{position:relative;right:25%;left:auto}
.push-4{position:relative;left:33.33333%;right:auto}
.pull-4{position:relative;right:33.33333%;left:auto}
.push-5{position:relative;left:41.66667%;right:auto}
.pull-5{position:relative;right:41.66667%;left:auto}
.push-6{position:relative;left:50%;right:auto}
.pull-6{position:relative;right:50%;left:auto}
.push-7{position:relative;left:58.33333%;right:auto}
.pull-7{position:relative;right:58.33333%;left:auto}
.push-8{position:relative;left:66.66667%;right:auto}
.pull-8{position:relative;right:66.66667%;left:auto}
.push-9{position:relative;left:75%;right:auto}
.pull-9{position:relative;right:75%;left:auto}
.push-10{position:relative;left:83.33333%;right:auto}
.pull-10{position:relative;right:83.33333%;left:auto}
.push-11{position:relative;left:91.66667%;right:auto}
.pull-11{position:relative;right:91.66667%;left:auto}
}
@media only screen and (min-width:64.063em){.large-push-0{position:relative;left:0;right:auto}
.large-pull-0{position:relative;right:0;left:auto}
.large-push-1{position:relative;left:8.33333%;right:auto}
.large-pull-1{position:relative;right:8.33333%;left:auto}
.large-push-2{position:relative;left:16.66667%;right:auto}
.large-pull-2{position:relative;right:16.66667%;left:auto}
.large-push-3{position:relative;left:25%;right:auto}
.large-pull-3{position:relative;right:25%;left:auto}
.large-push-4{position:relative;left:33.33333%;right:auto}
.large-pull-4{position:relative;right:33.33333%;left:auto}
.large-push-5{position:relative;left:41.66667%;right:auto}
.large-pull-5{position:relative;right:41.66667%;left:auto}
.large-push-6{position:relative;left:50%;right:auto}
.large-pull-6{position:relative;right:50%;left:auto}
.large-push-7{position:relative;left:58.33333%;right:auto}
.large-pull-7{position:relative;right:58.33333%;left:auto}
.large-push-8{position:relative;left:66.66667%;right:auto}
.large-pull-8{position:relative;right:66.66667%;left:auto}
.large-push-9{position:relative;left:75%;right:auto}
.large-pull-9{position:relative;right:75%;left:auto}
.large-push-10{position:relative;left:83.33333%;right:auto}
.large-pull-10{position:relative;right:83.33333%;left:auto}
.large-push-11{position:relative;left:91.66667%;right:auto}
.large-pull-11{position:relative;right:91.66667%;left:auto}
.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}
.large-1{width:8.33333%}
.large-2{width:16.66667%}
.large-3{width:25%}
.large-4{width:33.33333%}
.large-5{width:41.66667%}
.large-6{width:50%}
.large-7{width:58.33333%}
.large-8{width:66.66667%}
.large-9{width:75%}
.large-10{width:83.33333%}
.large-11{width:91.66667%}
.large-12{width:100%}
.large-offset-0{margin-left:0 !important}
.large-offset-1{margin-left:8.33333% !important}
.large-offset-2{margin-left:16.66667% !important}
.large-offset-3{margin-left:25% !important}
.large-offset-4{margin-left:33.33333% !important}
.large-offset-5{margin-left:41.66667% !important}
.large-offset-6{margin-left:50% !important}
.large-offset-7{margin-left:58.33333% !important}
.large-offset-8{margin-left:66.66667% !important}
.large-offset-9{margin-left:75% !important}
.large-offset-10{margin-left:83.33333% !important}
.large-offset-11{margin-left:91.66667% !important}
.large-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}
.column.large-centered,.columns.large-centered{margin-left:auto;margin-right:auto;float:none}
.column.large-uncentered,.columns.large-uncentered{margin-left:0;margin-right:0;float:left}
.column.large-centered:last-child,.columns.large-centered:last-child{float:none}
.column.large-uncentered:last-child,.columns.large-uncentered:last-child{float:left}
.column.large-uncentered.opposite,.columns.large-uncentered.opposite{float:right}
.push-0{position:relative;left:0;right:auto}
.pull-0{position:relative;right:0;left:auto}
.push-1{position:relative;left:8.33333%;right:auto}
.pull-1{position:relative;right:8.33333%;left:auto}
.push-2{position:relative;left:16.66667%;right:auto}
.pull-2{position:relative;right:16.66667%;left:auto}
.push-3{position:relative;left:25%;right:auto}
.pull-3{position:relative;right:25%;left:auto}
.push-4{position:relative;left:33.33333%;right:auto}
.pull-4{position:relative;right:33.33333%;left:auto}
.push-5{position:relative;left:41.66667%;right:auto}
.pull-5{position:relative;right:41.66667%;left:auto}
.push-6{position:relative;left:50%;right:auto}
.pull-6{position:relative;right:50%;left:auto}
.push-7{position:relative;left:58.33333%;right:auto}
.pull-7{position:relative;right:58.33333%;left:auto}
.push-8{position:relative;left:66.66667%;right:auto}
.pull-8{position:relative;right:66.66667%;left:auto}
.push-9{position:relative;left:75%;right:auto}
.pull-9{position:relative;right:75%;left:auto}
.push-10{position:relative;left:83.33333%;right:auto}
.pull-10{position:relative;right:83.33333%;left:auto}
.push-11{position:relative;left:91.66667%;right:auto}
.pull-11{position:relative;right:91.66667%;left:auto}
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row::before{
    content: " ";
    display: table;
}
.row::after{
    content: " ";
    display: table;
}
.row{
    content: " ";
    display: table;
}

.st-row {
    margin: 0 auto;
    max-width: 1083px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    width: 100%;
}
.row.error .columns {
    display: flex;
    flex-wrap: wrap;
}
small.error {
    background: transparent;
    color: #e6007e;
    display: block;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 5px auto;
    max-width: 50%;
    padding: 0 0 0 10px;
    text-align: right;
}
form.columns.end {
    margin-bottom: 25px;
}
select.less-padding {
    padding: .2rem .2rem .2rem .5rem;
}
select {
    font-size: 14px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: #74757c;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    height: 38px;
    margin: 0 0 1rem 0;
    -webkit-border-radius: 0;
    background-color: #fafafa;
    line-height: normal;
    border-radius: 0;
    width: 100%;
}
.error .error[data-fv-for='termOfUse']{
  text-align: left;
}
button[disabled] {
  opacity: .35;
  pointer-events: none;
}